@tailwind base;
@tailwind components;
@tailwind utilities;

.js-hamburger-open span:nth-child(1) {
  @apply w-0 top-1.5 left-1/2;
}

.js-hamburger-open span:nth-child(2) {
  @apply rotate-45;
}

.js-hamburger-open span:nth-child(3) {
  @apply -rotate-45;
}

.js-hamburger-open span:nth-child(4) {
  @apply w-0 top-1.5 left-1/2;
}

.js-mobileNav-open {
  @apply block;
}

.lazy.loaded {
  @apply opacity-100;
}

.testGrid{
  display: flex;
  justify-content: center;
  align-content: center;
}

.jobCard{
  @apply py-4 px-3 bg-gray-200 mb-2 rounded-sm
}
.jobnCard.title{
    font-size: 20px;
    font-weight: bold;
}